{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "at-rule-empty-line-before": null,
        "comment-empty-line-before": null,
        "custom-property-empty-line-before": null,
        "block-no-empty": null,
        "declaration-empty-line-before": null,
        "font-family-name-quotes": "always-unless-keyword",
        "function-url-quotes": "always",
        "selector-attribute-quotes": "always",
        "selector-type-no-unknown": [ true, {
            "ignoreNamespaces": [ "tibet", "tsh", "sherpa", "xctrls" ]
        }],
        "selector-type-case": null,
        "string-quotes": "double",
        "value-keyword-case": "lower"
    }
}
